MONGO=

GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET = 

NEXTAUTH_SECRET = "dshhsschbslcwc"
NEXTAUTH_URL = "http://localhost:3000/"

# Email address verified in Single Sender Verification
FROM_EMAIL=

# Email address where you want to send the submissions to
TO_EMAIL=

# Sendgrid API key
SENDGRID_API_KEY=


# RECOVERY_CODE = 
